# # NetBeans project files
# nbproject/private/
# build/
# nbbuild/
# dist/
# nbdist/
# .nb-gradle/
# 
# # Compiled Java class files
# *.class
# 
# # Package Files
# *.jar
# *.war
# *.nar
# *.ear
# *.zip
# *.tar.gz
# *.rar
# 
# # NetBeans heap dump
# heapdump.hprof
# 
# # macOS
# .DS_Store
# 
# # Windows
# Thumbs.db
# ehthumbs.db
# Desktop.ini
# 
# # IDE files
# *.iml
# .idea/

# Naskah presentasi (jangan di-upload ke GitHub)
naskah_presentasi.txt
